# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  node: circleci/node@4.5.1
# Orchestrate or schedule a set of jobs
jobs:
  install-node-example:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - node/install:
          install-yarn: true
      - run: node --version
  yell-at-stdout:
    docker:
        - image: 'cimg/base:stable'
    steps:
      - run: tail /etc/passwd
workflows:
  test_my_app:
    jobs:
      - install-node-example
      - yell-at-stdout
